// html,
// body {
//     width: 100%;
//     height: 100%;
// }
%juzhong {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testPaper {
    width: 100%;
    height: 90%;
    @extend %juzhong;
    flex-direction: column;
    .title {
        height: 60px;
        display: flex;
        width: 94%;
    }
    .con {
        width: 94%;
        height: 800px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .Left {
            margin: 10px;
            width: 90px;
        }
        .test {
            width: 92%;
            height: 500px;
            margin: 0 auto;
            h3,h5{
               @extend %juzhong;
            }
            h3{
                height: 50px;
                width: 100%;
                font-weight: bold;
                font-size: 20px;
            }
            h5{
                height: 30px;
                width: 100%;
                font-size: 14px;
            }
        }
    }
}
.add {
    margin: 20px;
    width: 90px;
    display: flex;
    justify-content: flex-start;
}
.ques{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    .question_item{
        border: 1px solid #ccc;
        width: 100%;
        height: auto;
        display: flex;
        margin: 20px 0;
        .name_left{
            flex: 9;
            display: flex;
            flex-direction: column;
            li{
                margin: 20px 0 30px 20px;
                &:first-child{
                    font-weight: bold;
                }
            }
        }
        .btn_right{
            flex: 1;
            a{
                display: flex;
                margin: 20px 0 30px 20px;
            }
        }
    }
}
.build,.build_btn{
    height: 30px;
    margin: 0px auto;
    width: 140px;
    background: #0C41FD;
    border-radius: 5.5px;
}