.wrapbox{
    width:100%;
    /* height:100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
}
.top{
    width:90%;
    height:80px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    padding:0 10px;
    box-sizing: border-box;
}
.content{
    width:90%;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:3%;
    background:#fff;
   
}
.classtype ul{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.classtype ul li{
    font-size: 12px;
    padding:0 5px;
    box-sizing: border-box;
}
.examtype{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:20px;
}
.bottom{
    width:90%;
    flex:1;
    border-radius:3%;
    background:#fff;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
}
.box{
    width:90%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding:0 10px;
    box-sizing: border-box; */
    border-bottom:1px solid #ccc;
     /* overflow:hidden; */
}
.spanbox{
    margin:10px 0;
}
.spanbox span{
    padding:5px;
    display: inline-block;
    border:1px solid #ccc;
    font-size: 12px;
    margin-left:5px;
}
.spanbox span:nth-child(1){
    color:#1890ff;
    background:#e6f7ff;
    background-color: #91d5ff;
}
.spanbox span:nth-child(2){
    color: #2f54eb;
    background: #f0f5ff;
    border-color: #adc6ff;
}
.spanbox span:nth-child(3){
    color: #fa8c16;
    background: #fff7e6;
    border-color: #ffd591;
}